# Eclipse project files
.classpath
.project
.settings

# IntelliJ project files
*.iml
.idea/

# VScode project files
.vscode/

# binary directories
bin
target
lib
build
.gradle/
pom.xml.versionsBackup
*.tgz
*.log
out/

# mac osx system files
*.DS_Store

# others
lsp/
